body {
  /* background-color: #1B2B5A; */
  background-image: url('./images/background.jfif');
  /* background-size: 100%; */
  background-position: center;
  /* background-size: cover; */
  background-repeat: no-repeat;
}

.box {
  /* background-color: white; */
  margin: 70px auto;
  max-width: 700px;
  border-radius: 10px;
  padding: 15px;

  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 15px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.tabela {
  max-width: 550px;
  margin: 0 auto;
  padding: 5px;
}

h1 {
  color: #12142D;
  text-align: center;
  font-weight: 300;
}

table {
  text-align: left;
  width: 100%;
  border-spacing: 0px;
}

th, td {
  border-bottom: 1px solid #ddd;
}

tr {
  height: 40px;
}

tbody tr:hover {
  background: rgba( 255, 255, 255, 0.1 );
}

img {
  /* padding: 3px; */
  width: 50px;
}